
/* light1 EFEBE9 */
/* light2 D7CCC8 */
/* black 263238 */
/* darkcyan 006064 */
/* lightcyan 3E2723 */


body {
  background: #FAFAFA;
  font-family: monospace;
}


/* Control Panel */

  #panelTop {
    background-color: #BCAAA4;
    height: 120px;
    margin-top: 0;
    margin-bottom: 35px;
    z-index: 10000;
    border: #000000;
  }


  .shedFnameContainer {
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 12px;
  }

  .fnameSaved #fname{
    color: #006064!important;
  }

  .fnameNotSaved #fname {
    color: #3E2723!important;
  }

  #fname{
    background-color: #EFEBE9;
    border: #181712;
    width: 100%;
    font-family: monospace;
  }



  .shedCtrl {
    display: inline-block;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .shedCtrlElement {
    vertical-align:top;
    background-color: #EFEBE9!important;
    color: #006064;
    border: #000000;
  }

  .shedButton {
    font-size:90%;
    width: 80px;
    height: 34px;
  }

  .shedButton:hover {
    color: #3E2723;
  }

  .shedButton:focus{
      color: #3E2723;
   }

  .shedCtrlSpacing {
    display: inline-block;
    width: 80px;
  }

  .shedDropdownContainer{
    display: inline-block;
    width: 80px;
  }

  .selectize-input {
    background-color: #EFEBE9!important;
    font-size:90%;
    width: 80px;
    height: 34px;
    color: #006064;
    border: #000000;
  }

   .selectize-input:hover{
      color: #3E2723;
   }

   .selectize-input:focus{
      color: #3E2723;
   }

  .selectize-dropdown {
    background-color: #006064!important;
    font-size:90%;
    color: #EFEBE9;
    width: 80px;
    border: #000000;
  }





/* HOT Editor */

  .handsontable {
    overflow: auto;
  }


  /* Master */

  #hot tr td {
    background-color: #EFEBE9;
    color: #263238;
    vertical-align: middle;
    font-family: monospace;
    padding: 0 20px
  }

  /* All headers */
  #hot .handsontable th {
    border-color: #000000;
    background-color: #000000;
    color: #757571;
    vertical-align: middle;
  }

  /* Context Menue */
  .htMenu tr td {
    color: #2b3e50;
  }

  /* Borders (data) */
  #hot .ht_master tr > td {
    border-bottom: 1px solid #D7CCC8!important;
    border-right: 0px solid #D7CCC8!important;
    border-top: 0px solid #D7CCC8!important;
    border-left: 0px solid #D7CCC8!important;
  }

  /* Borders (row numbers) */
  #hot .ht_clone_left th {
    border-bottom: 1px solid #000000!important;
    border-right: 0px solid #000000!important;
    border-top: 0px solid #000000!important;
    border-left: 0px solid #000000!important;
  }



/* misc */

.modal.fade {
  z-index: 10000000 !important;
}


.modal-content {
  background-color: #008388;
}

.modal-button {
  color: #006064;
  background-color: #D7CCC8;
  border: 0;
}

.modal-button:hover {
  color: #3E2723;
  background-color: #D7CCC8;
  border: 0;
}

.modal-button:focus {
  color: #3E2723;
  background-color: #D7CCC8;
  border: 0;
}
