
/* gray1 323232 */
/* gray2 3b3b3b */
/* white f9f9f9 */
/* yellow fdce5e */
/* red fb8578 */


body {
  background: #000000;
}

#panelTop {
  background-color: #3b3b3b;
  height: 100px;
  margin-top: 0;
  margin-bottom: 35px;
  z-index: 10000;
  font-family: monospace;
  font-weight: bold;
}

#outputFile{
  background-color: #323232;
  border: #323232;
  color: #fb8578;
}


.shedCtrl {
  display: inline-block;
  vertical-align:top;
  width: 80;
}

.shedCtrlButton {
  background-color: #323232!important;
  border: #323232;
  color: #fdce5e;
  font-size:90%;
  width: 80px;
  height: 34px;
}

.selectize-input {
  background-color: #323232!important;
  border: #fdce5e;
  color: #fdce5e;
  font-size:90%;
  width: 80px;
  height: 34px;
}

.selectize-dropdown {
  background-color: #323232!important;
  border: #323232;
  color: #fdce5e;
  font-size:90%;
}

#readFun {
  background: #3b3b3b;
  color: #fdce5e;
  font-size:90%;
  width: 80px;
  height: 34px;
}





.handsontable {
  overflow: auto;
}

handsontable .currentRow {
  background-color: #E7E8EF;
}

handsontable .currentCol {
  background-color: #F9F9FB;
}


/* Master */

#hot tr td {
  background-color: #323232;
  color: #f9f9f9;
  vertical-align: middle;
  font-family: monospace;
  padding: 0 20px
}

/* All headers */
#hot .handsontable th {
  background-color: #000000;
  color: #757571;
  vertical-align: middle;
}

/* Context Menue */
.htMenu tr td {
  color: #2b3e50;
}

/* Borders (data) */
#hot .ht_master tr > td {
  border-bottom: 1px solid #000000!important;
  border-right: 0px solid #000000!important;
  border-top: 0px solid #000000!important;
  border-left: 0px solid #000000!important;
}

/* Borders (row numbers) */
#hot .ht_clone_left th {
  border-bottom: 1px solid #000000!important;
  border-right: 0px solid #000000!important;
  border-top: 0px solid #000000!important;
  border-left: 0px solid #000000!important;
}
